<nav>
  <div>
    <img
      src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png"
      alt="Logo"
    />
  </div>

  <div>
    <ul>
      <li><a routerLink="todo">Home</a></li>
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="login">Login</a></li>
      <li><a routerLink="register">Register</a></li>
    </ul>
    <ul>
      <li><a routerLink="about/1">Ali</a></li>
      <li><a routerLink="about/20">Akbar</a></li>
      <li><a routerLink="about/30">Misbah</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
