<app-header></app-header>
<!-- Interpolation -->
<h1>
  Angular App. My title is {{ title }}, Today is {{ randomText }} and i am
  {{ getValue() }}
</h1>
<h2>{{ 2 + 2 }}</h2>
<h3>{{ title == "AngularAppp" }}</h3>

<h4>This is another component</h4>

<h5>This is user-list component</h5>
<app-user-list></app-user-list>
<h6>Below component is from another module</h6>
<app-signin></app-signin>
<button (click)="getAlert('Ali')">Click For Alert</button>
<br /><br /><br /><br /><br />
<h5>Events on Inputs</h5>
<input
  type="text"
  placeholder="KeyUp Event"
  #value1
  (keyup)="getData(value1.value)"
/>
<br /><br />
<input
  type="text"
  placeholder="Keydown event"
  #value2
  (keydown)="getData(value2.value)"
/>
<br /><br />
<input
  type="text"
  placeholder="Blur Event"
  #value3
  (blur)="getData(value3.value)"
/>
<br /><br />
<input
  type="text"
  placeholder="Mouse Hover"
  #value4
  (mouseover)="getData(value4.value)"
/>
<br /><br /><br /><br /><br />
<input #input type="text" placeholder="Enter name" />
<button (click)="getdisplayvalue(input.value)">Click to display</button>
<p>{{ displayval }}</p>
<br /><br /><br /><br /><br />
<button (click)="counter('-')">-</button>
<p>{{ count }}</p>
<button (click)="counter('+')">+</button>

<br /><br /><br />
<h1>Property Binding</h1>
<input
  type="text"
  name="username"
  value="{{ name }}"
  disabled="{{ disable }}"
/>
<br /><br />
<input type="text" name="username" [value]="name" [disabled]="disable" />
<br /><br /><br /><br />
<h1 *ngIf="show; then ifBlock; else elseBlock">ng If</h1>
<ng-template #ifBlock> <h2>This is if block</h2> </ng-template>
<ng-template #elseBlock> <h2>This is else block</h2> </ng-template>
<button (click)="getIfElse()">Click for ifelse</button>
<br /><br /><br /><br />
<h1>Switch Case</h1>
<div [ngSwitch]="isLoggedIn">
  <p *ngSwitchCase="true">Welcome to the platform</p>
  <p *ngSwitchCase="false">Please Logged In</p>
  <!-- <p *ngSwitchDefault="true">Site is under working</p> -->
</div>
<br /><br /><br /><br />
<h1>For Loop</h1>
<div *ngFor="let user of users">
  <p>{{ user }}</p>
</div>
<br />
<div *ngFor="let user of usersDetails">
  <p>{{ user.name }}--{{ user.email }}--{{ user.phone }}</p>
</div>
<br /><br /><br /><br />
<h1>Nested Loop</h1>
<div *ngFor="let user of nestedUsers">
  <li>{{ user.name }}--{{ user.email }}</li>
  <li *ngFor="let accounts of user.socialAccounts">
    {{ accounts }}
  </li>
</div>
<br /><br /><br /><br />
<h1>Style Binding</h1>
<div>
  <h3 [style.color]="color" [style.backgroundColor]="bgColor">
    This is style binding
  </h3>
  <button (click)="updateColor()">Update Color</button>
</div>
<app-header></app-header>
<app-register></app-register>
<br /><br /><br /><br /><br />
<app-todo></app-todo>
